<?xml version="1.0"?>
<ruleset name="Blocky">
  <description>PSR2 with 2 spaces indentation.</description>
  <arg name="tab-width" value="2"/>
  <rule ref="PSR2">
  </rule>
  <rule ref="Generic.WhiteSpace.ScopeIndent">
    <properties>
      <property name="indent" value="2"/>
      <property name="ignoreIndentationTokens" type="array" value="T_COMMENT,T_DOC_COMMENT_OPEN_TAG,T_CASE" />
    </properties>
  </rule>
</ruleset>
